body {
    background: #f5f5f5;
    font-family: "Rubik";
    overflow: hidden;
}

/* Navigation Bar */
.dropdown-menu {
    margin: 0;
}

.navbar-nav {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.dropdown {
    height: 5.7rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #007bff !important;
}

.navbar {
}

.navbar-brand {
    margin-left: 1rem;
    font-size: 4rem;
    font-family: "Staatliches";
    
}



.nav-item {
    padding: 1em 1em;
}



.nav-link {
    padding-top: 0.5em;
    font-size: 2rem;
    font-family: "Staatliches";    
}

.dropdown-item {
    font-family: "Staatliches";
    font-size: 1.2s5rem;
}

.navbar-toggler {
    width: 100%;
}




/* Footer */

#footer {
    text-align: center;
}

#copyright {
    margin-bottom: 0;
}
.social-icon {
    margin: 0.5em 0.5em;
    color: black;
    display: inline-block;
}

a {
    color: black;
}

.social-icon:hover {
    opacity: 0.7;
    color: #007bff;   
    text-align: center;
}

a:visited{ color: gray }


/* Carousel */

.sai-pic {
    border: none;
}

#mobile-title {
    font-family: "Rubik";
    text-align: center;
    display: none;
    padding: 20% 0;
}

@media (max-width:1000px) {
    img {
        display: none;
    }

    .carousel {
        display: none;
    }

    #mobile-title {
        display: block;
    }

    .sai-pic {
        display: block;
        width: 30%;
        height: 30%;
        margin: 0 auto;
        padding-bottom: 5%;
    }
}

img {
    border: 0.2em solid;
    height: 75vh;
}

.carousel-inner {
    height: 75vh;
    margin: 0 auto;
    text-align: center;
}

.arrow {
    filter: invert(1);
}

#paragraph-cs {
    color: #007bff;
    text-shadow: 3px 3px blue;
}

#paragraph-nature {
    color: #007bff;
    text-shadow: 3px 3px blue;
}

#paragraph-reading {
    color: #007bff;
    text-shadow: 3px 3px blue;
}

.enjoy {
    font-family: "Indie Flower";
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);

}

.carousel-caption h2 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 3.5em;
    width: 50%;
    display: inline;
}

.welcome {
    padding-right: 0;

}

.carousel-caption p {
    font-size: 2em;
}


/* About Me */

.left-col {
    text-align: center;
    display: block;
}

.right-col {
    font-family: "Rubik";
    line-height: 2.0;
    display: block;
    margin: auto 0;
}

.description {
    text-align: left;
    padding-right: 15rem;
}

.full-sai-pic {
    border: 0.2em solid;
}

.mobile-row {
    display: none;
}

.sai-circle {
    border-radius: 50%;
    height: 50vh;
    margin: 5em 0;
    display: none;
}


@media (max-width:1000px) {
    .left-col {
        display: none;
    }
    
    .right-col {
        display: none;
    }

    .sai-circle {
        display: inline-block;
    }

    .mobile-desc {
        text-align: left;
        padding: 0 5em;
    }

    .mobile-row {
        display: block;
        text-align: center;
    }   
}