body {
    background: #f5f5f5;
    font-family: "Rubik";
}

/* Navigation Bar */

.navbar-nav {
    margin: 0 auto;
    float: none;
    text-align: center;
    
}

.navbar {
    
}

.navbar-brand {
    margin-left: 1rem;
    font-size: 4rem;
    font-family: "Staatliches";
}

.nav-item {
    padding: 1em 1em;
}

.nav-link {
    padding-top: 0.5em;
    font-size: 2rem;
    font-family: "Staatliches";
    
}



/* Footer */

#footer {
    text-align: center;
}

#copyright {
    margin-bottom: 0;
}
.social-icon {
    margin: 0.5em 0.5em;
}

/* Carousel */

.carousel-inner {
    height: 75vh;
    width: 100wh;
    margin: 0 auto;
    text-align: center;
}

 img {
     height: 75vh;
     width: 100wh;
 }


.arrow {
    filter: invert(1);
}