body {
    background: #EAEAEA;
    font-family: "Inconsolata";
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    font-size: 1rem;
}

/* Navigation Bar */
.title {
    text-align: center;
}

.navbar-nav {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.dropdown {
    height: 7rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #007bff !important;
}

.navbar {
}

.navbar-brand {
    margin-left: 1rem;
    font-size: 6rem;
    font-family: "Poiret One";
    
}


.nav-item {
    padding: 1em 1em;
}



.nav-link {
    padding-top: 0.5em;
    font-size: 3rem;
    font-family: "Poiret One";    
}

.dropdown-item {
    font-family: "Poiret One";
    font-size: 1.5rem;
}

.navbar-toggler {
    width: 100%;
}




/* Footer */

#footer {
    text-align: center;
}

#copyright {
    margin-bottom: 0;
}
.social-icon {
    margin: 0.5em 0.5em;
    color: black;
    display: inline-block;
}

a {
    color: black;
}

.social-icon:hover {
    opacity: 0.7;
    color: #007bff;   
    text-align: center;
}

a:visited{ color: gray }


/* Carousel */

.sai-pic {
    border: none;
}

#mobile-title {
    font-family: "Inconsolata";
    text-align: center;
    display: none;
    padding: 20% 0;
}

@media (max-width:1000px) {
    .carousel {
        display: none;
    }

    #mobile-title {
        display: block;
    }

    .sai-pic {
        display: block;
        width: 75%;
        height: 75%;
        margin: 0 auto 5em;
    }

    .navbar-brand {
        font-size: 3rem;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    .dropdown-item {
        font-size: 1rem;
    }
}

.title-images {
    border: 0.2em solid;
    height: 75vh;
}

.carousel-inner {
    height: 75vh;
    margin: 0 auto;
    text-align: center;
}

.arrow {
    filter: invert(1);
}

#paragraph-cs {
    color: #007bff;
    text-shadow: 3px 3px blue;
}

#paragraph-nature {
    color: #007bff;
    text-shadow: 3px 3px blue;
}

#paragraph-reading {
    color: #007bff;
    text-shadow: 3px 3px blue;
}

.enjoy {
    font-family: "Inconsolata";
}


.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);

}



.carousel-caption h2 {
    padding-bottom: 0;
    font-size: 3.5em;
    display: inline;
}


.welcome {
    padding-right: 0;
}

.carousel-caption p {
    font-size: 2em;
}

.hidden-welcome {
    font-size: 0px;
}

.carousel-caption:hover .total-disp {
    display: none!important;
}

.carousel-caption:hover .hidden-welcome {
    font-size: 6.825rem;
    font-family: "Poiret One";
    color: #f5f5f5;
}

/* About Me */

.left-col {
    text-align: right;
    display: block;
    padding-right: 2.5em;
}

.right-col {
    line-height: 2.0;
    display: block;
    margin: auto 0;
    padding-left: 2.5em;
}

.description {
    text-align: center;
    padding-right: 15rem;
    width: 80%;
}

.full-sai-pic {
    border: 0.2em solid;
    border-radius: 1%;
}

.mobile-row {
    display: none;
}

.sai-circle {
    border-radius: 50%;
    height: 50vh;
    margin: 5em 0;
    display: none;
}


@media (max-width:1500px) {
    .left-col {
        display: none;
    }
    
    .right-col {
        display: none;
    }

    .sai-circle {
        display: inline-block;
    }

    .mobile-desc {
        text-align: left;
        padding: 0 5em;
    }

    .mobile-row {
        display: block;
        text-align: center;
    }   
}

/* Contact Me */

.form-container {
    margin: 0 10rem;
}

.contact-button-container {
    text-align: center!important;
}

.disclaimer {
    padding-right: 25%;
    padding-left: 25%;  
}

.email-pic-div {
    background-color: black;
    width: 15em;
    display: block;
    margin: 1em auto;
}

.email-pic {
    width: 15em;
    opacity: 0;
}

.email-pic:hover {
    opacity: 1;
}

/* Projects */

.hidden-project-title {
    display: none;
}

.project-card {
    padding: 2% 3%;
}

.card-img-top {
    border: 0.2em solid;
    border-bottom: 0em;
}

.embedded-resume {
    text-align: center;
}

#embedded-resume {
    text-align: center;
}
.resume-pdf {
    width: 50vw;
    height: 74vh;
}

.download-resume-link {
    display: none;
}

@media (max-width: 1000px) {
    .resume-pdf {
        display: none;
    }

    .download-resume-link {
        display: block;
        margin: 5em;
    }

    .hidden-project-title {
        display: block!important;
        padding-top: 5em;
        padding-bottom: 3em;
    }
    
}


/* CCA Courses */

.courses-row li {
    font-size: 1.5em;
    padding: 0 2em;
}

.course-title {
    padding-bottom: 1em;
    padding-top: 0.24em;
}

.back-sign {
    padding-left: 0.5em;
}

.inline-back-arrow {
    display: inline-block;
}

.fa-arrow-left:hover {
    color: black;
}