body {
    background: #f5f5f5;
    font-family: "Rubik";
}



/* Navigation Bar */

.navbar-nav {
    margin: 0 auto;
    float: none;
    text-align: center;
    
}

.navbar {
}

.navbar-brand {
    margin-left: 1rem;
    font-size: 4rem;
    font-family: "Staatliches";
}

.nav-item {
    padding: 1em 1em;
}

.nav-link {
    padding-top: 0.5em;
    font-size: 2rem;
    font-family: "Staatliches";
    
}

.dropdown-item {
    font-family: "Staatliches";
}




/* Footer */

#footer {
    text-align: center;
}

#copyright {
    margin-bottom: 0;
}
.social-icon {
    margin: 0.5em 0.5em;
    color: black;
    display: inline-block;
}

a {
    color: black;
}

.social-icon:hover {
    opacity: 0.7;
    color: #007bff;   
    text-align: center;
}

a:visited{ color: gray }


/* Carousel */

img {
    border: 5px solid;
}

.carousel-inner {
    height: 75vh;
    width: 100wh;
    margin: 0 auto;
    text-align: center;
}

 img {
     height: 75vh;
     width: 100wh;
 }


.arrow {
    filter: invert(1);
}

.carousel-caption h2 {
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 3.5em;
}
.carousel-caption p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2em;
}

